<VirtualHost *:443>
    SSLEngine on
    SSLCertificateFile /etc/pki/tls/certs/server.crt
    SSLCertificateKeyFile /etc/pki/tls/private/server.key

    {% if davrods_sodar_enable_proxy %}
    SSLProxyEngine On
    ProxyPass /__sodar/ {{ davrods_davrods_sodar_url }}
    {% endif %}

    <Location />
        DirectoryIndex        enabled

        AuthType              Basic
        Require               valid-user
        AuthName              "{{ davrods_auth_name }}"
        AuthBasicProvider     irods

        Dav                   davrods-locallock

        DavRodsEnvFile        {{ apache_conf_dir }}/irods/irods_environment.json
        DavRodsServer         {{ davrods_irods_ip }} {{ davrods_irods_port }}
        DavRodsZone           {{ davrods_irods_zone_name }}
        DavRodsAuthScheme     {{ davrods_auth_scheme }}
        DavRodsExposedRoot    /

        DavRodsHtmlHead       {{ apache_conf_dir }}/irods/head.html
        DavRodsHtmlHeader     {{ apache_conf_dir }}/irods/header.html
        DavRodsHtmlFooter     {{ apache_conf_dir }}/irods/footer.html
    </Location>
</VirtualHost>

<VirtualHost *:80>
   Redirect permanent / https://{{ apache_public_fqdn }}/
</VirtualHost>
